<!DOCTYPE html>
<html>
    <head>
        <title>Datessss</title>
    </head>
    <body>
      <% time = Time.now %>
        <h1>Today</h1>
        <p>"The date is <%= time.strftime("%A")%>, <%= time.strftime("%B")%> <%= time.day %>, <%= time.year%>  "</p>
    </body>
</html>
