<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% date = Time.new %>
        <p>The date is Monday, October 30, 2017</p>
    </body>
</html>
